/*Main styles*/
*{font-family: 'Open Sans', sans-serif;}
html, body{height: 100%;}
body{background-color: #ebebeb;}
a:hover, a:focus{text-decoration: none;cursor: pointer;}
h1 {font-weight: bold; margin: 20px 0 40px;}
h2 {font-weight: bold; margin: 20px 0 40px;}
h3 {font-weight: bold;}
h4 {font-weight: bold; margin: 30px 0 15px;}
.clear {clear: both;}
#main-image{
    height: 500px;
    background-image: url('../images/back1.jpg');
    background-size: 100% 500px;
    transition: background 1s linear;
    position: relative;
}
.logo{
    background-image: url('../images/Connect.IL-Logo.png');
    height: 100px;
    position: absolute;
    width: 175px;
    background-size: contain;
}
#tag-line{
    margin: 125px auto;
    text-align: center;
    width: 665px;
    line-height: 50px;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px black;
    vertical-align: middle;
}
.clear{clear:both;}
#googleMap{
    width:100%;
    height:450px;
}
.default-btn{
    font-size: 16px;
    background-color: #e0e0e0;
    color: black;
    padding: 9px 14px;
    line-height: 40px;
}
.default-btn:hover{color: #6a6a6a;}
#loginModal .modal-dialog{width: 400px; line-height: 40px;}
#loginModal .modal-content{border-radius: 0 !important;}
#loginModal .modal-content a{border: none !important; text-decoration: underline; padding: 0!important;}
#loginModal .modal-content a:hover{color:inherit;}
#loginModal .modal-header{text-align:center;}
#loginModal .modal-body{font-size: 16px;}
#loginModal .modal-body a{float: right;}
#loginModal .modal-body input[type=email], #loginModal .modal-body input[type=password]
{width:100%; padding: 5px; margin: 10px 0;}
#loginModal .modal-footer input{width: 100%; margin-bottom: 10px;}
#loginModal .modal-footer{text-align: left;}

#user-avatar-mobile{display: none;}

/*Navigation*/
header {
  background-color: rgba(160, 160, 160, 0.95);
  /*height: 100px;*/
}
#home{padding: 0;}
nav ul{list-style: none;}
nav li{display: inline-block;}
nav a, nav a:focus{
    padding: 0 20px;
    color: #5a5a5a;
}
nav a:hover{ color: #f2f2f2;}
.top-nav{
  background-color: transparent;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
    /*background-color: rgba(160, 160, 160, 0.95);
    height: 100px;
    padding: 0 15%;*/
}

.top-nav ul{float: right; line-height: 100px;font-size: 18px;}
.top-nav a:not(#home){border-right: 2px solid #5a5a5a;}

.bottom-nav{text-align: center;}
.bottom-nav a{line-height: 55px; font-weight: bold;}

.btn-sign-in{
    border: 1px solid #e3e3e3 !important;
    color: #e3e3e3 !important;
    padding: 5px 10px !important;
    margin-left: 20px;
    font-size: 16px !important;
}
.btn-sign-in:hover{
    border: 1px solid #5a5a5a !important;
    color: #5a5a5a !important;
}
.btn-sign-in-home{
    background-color: rgba(90, 90, 90, 0.5);
}
.btn-sign-in-home:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.btn-sign-in:hover{border: 1px solid #d1d1d1 !important; color: #d1d1d1;}

/*Search-bar*/
#main-image .search-bar{bottom: 0;}
.search-bar{
    height: 78px;
    position: absolute;
    left: 0;
    background-color: rgba(128, 128, 128, 0.8);
    width: 100%;
    padding: 0 15%;
}
.search-bar input, .search-bar select, .search-bar span{
    height: 40px;
    top: 19px;
    float: left;
    position: relative;
    border: 1px solid darkgrey;
    border-radius: 0 !important;
}
.search-box input{width: calc(30% - 100px); padding: 0 10px 0 30px;}
.search-box .glyphicon{
    position: absolute;
    top: 21px;
    z-index: 1000;
    padding: 10px;
}
.input-daterange input{width: 15%;}
.search-bar select{width: 20%;}
.btn-search{width: 100px;}
.invalid-input{background-color: #ff6978;}

/*Main*/
main{
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.breadcrumb {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}
#main-home section{margin-top: 50px; padding-bottom: 20px;}
.bottom-border{border-bottom: 2px solid gray;}
.row{ margin-top: 50px;}
.div-how-works{
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    position: relative;
}
.div-how-works .arrow-left{margin-top: 20px; margin-right: 10px;}
.div-how-works .arrow-right{margin-bottom: -30px; margin-left: 10px;}
.globe-israel, .arrow-right{float: left;}
.globe-world, .arrow-left{float: right;}
.globe-israel, .arrow-right, .globe-world{margin-top: 50px;}
.explanation{
    border: 10px double #8e98a5;
    float:left;
    height: 200px;
    width: 250px;
    padding: 15px 5px;
}

/*Search results*/
#results, #user-home{padding-top:78px; min-height: calc(100% - 185px);}
.media-object{height: 138px; width: 133px;}
.media-body p{font-size: 14px;}
#results .media-right{
    width: 15%;
    min-width: 160px;
    vertical-align:bottom;
    text-align: right;
}
.media{padding: 50px 0;}
.media2{padding: 25px 0;}
.media3{padding: 10px 0 0 0;}
.media3-first{padding-top: 25px;}
.media-offer img {height: 90px; width: 90px;}
.see-this-offer {padding-top: 10px; display: inline-block;}

/*Details*/
#details section{margin-bottom: 30px;}
.host-image {
    width: 175px;
    display: inline-block;
    vertical-align: top;
}
.host-text {
    width: calc(100% - 185px);
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
}
.connect-button {
    width: 100%;
    display: inline-block;
    padding: 45px 0;
    text-align: center;
}
.left-details {
    /*display: inline-block;*/
    width: 50%;
    margin-right: 20px;
    vertical-align: top;
    float: left;
    /*width: 500px;*/
}
.right-details {
    /*display: inline-block;*/
    width: calc(50% - 25px);
    vertical-align: top;
    float: right;
    /*width: calc(90% - 500px);*/
}
.get-connected{
    /*left: calc(50% - 90px);
    bottom: 0;
    position: absolute;*/
    padding: 15px 30px;
    font-size: 24px;
    background-color: #31A199;
    color: #333333;
}
/*.info{
    min-height: 450px;
    position:relative;
    padding-bottom: 60px;
}
.info p{margin-bottom: 30px;}*/
.reviews{
    margin-top: 50px;
    position: relative;
    min-height: 380px;
    padding-bottom: 50px;
}
.more-comments{
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 30px;
    min-width: 151px;
}

/*Footer*/
footer{background-color: #A0A0A0;}
.copyright{text-align: center;}

/*Bootstrap overrides*/
.thumbnail{border-radius: 0;}
.media-left{padding-right: 20px;}
.media-heading{display: inline-block;}
/*.navbar{margin: 0 !important;}*/
.navbar-default{border: none !important;}
.navbar-default .navbar-toggle{border: none !important; float: right;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background: none !important;}
.navbar-default .navbar-toggle:hover span{background-color: #f2f2f2 !important;}
.navbar-collapse{padding-right: 0!important;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{border:none;}

@media (min-width: 768px){
    .navbar {border-radius: 0 !important;}
}

/*Barrating override*/
.br-wrapper{
    display: inline-block !important;
    vertical-align: top !important;
    margin-left: 10px;
}
.br-theme-bootstrap-stars a{cursor: default;}
.br-theme-bootstrap-stars .br-widget a.br-selected:after{color: #5a5a5a !important;}

/*JGallery override*/
.jgallery{}

ul.connect-options {
  list-style-type: none;
  margin: 45px 0;
  padding: 0;
  text-align: center;
}
ul.connect-options li {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
}
ul.connect-options li a img {
  width: 80px;
  height: 80px;
}

/*JGalley override*/
.pt-page-current, .jgallery-container{background-color: #ebebeb !important;}
.jgallery .jgallery-thumbnails.images img{padding: 1px 10px !important; border: none !important;}

table {
  width: 100%;
  border: 0;
}
table td, table th {
  padding: 7px 10px;
  text-align: center;
}
table thead tr {
  background-color: #ccc;
}
table tbody tr {
  background-color: #fff;
}
table tbody tr.alt {
  background-color: #ececec;
}
table tbody tr:hover {
  background-color: #ccc;
}

#avatar-dropdown, #user-avatar-mobile{
    height: 46px;
    width: 46px;
    border: 2px solid #e3e3e3;
    margin-left: 10px;
    cursor: pointer;
}

#user-home .media{background-color: #e3e3e3; width: 377px; padding: 7px !important; cursor: pointer;}
#user-home .media:hover .fa{color: #31A199;}
#user-home .media-object{width: 100px !important; height: 100px !important;}
.to-left{float: left; margin: 0 100px 20px 0;}
#user-home section:last-child{margin-right: 0;}
#user-home .fa-plus{cursor: pointer;}
#user-home .fa-plus:hover{color: #31A199;}

.avatar-dropdown{line-height: 46px;}

#request-page .fa-check{color: #31A199;}

/*Media*/
@media (max-width: 768px){
    /*main{padding: 0 20px;}*/
    nav li {display: block;}
    nav ul {background: rgba(160, 160, 160, 0.95);}
    .top-nav {height: 50px;background-color: rgba(160, 160, 160, 0.95); z-index:10;}
    .top-nav a:not(#home){border: none; font-weight: 600;}
    /*.navbar-header{text-align: center;}*/
    nav a, nav a:focus{padding: 0 20px 0 0;}
    .logo{width: 100px !important; margin-left: 5px;/*-46px;*/}

    .search-bar{height: 158px !important; padding: 0 20px !important;}
    .search-box input{width: 100% !important;}
    .input-daterange input{width: 50% !important;}
    .search-bar select{width: calc(50% - 50px) !important;}
    #results, #user-home{padding-top: 159px !important;}

    #tag-line{width: 100%; margin: 0;}
    #main-image{height: 310px; background-size: 100% 310px;}

    #results .media-left{float:left;}
    #results .media-body{clear: both; width: 100%; display: block !important;}
    #results .media-right{float:right;}

    .div-how-works img{display: none;}
    .explanation{float: none; width: 65%;}

    .btn-sign-in{padding: 5px 55px !important; margin-left: 0 !important;}

    #user-home .media-body p{font-size: 12px !important;}
    #user-home .media{width:320px;}

    .profile-header{display: none !important;}
    #user-avatar{display: none;}
    #user-avatar-mobile{display: inline-block; float: left; margin-left: 20px !important;}

    .left-details, .right-details {width: 100%; margin: 0;}
}

@media (max-width: 825px){
    /*.top-nav {height: 50px;}*/
    .top-nav ul{line-height: 50px;}
    .logo{
        height: 50px;
        position: absolute;
        width: 175px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media (max-width: 1175px){
    .top-nav {padding: 0;}
    .search-bar{height: 118px;}
    .search-box input{width: calc(100% - 200px);}
    .input-daterange input{width: 100px;}
    .search-bar select{width: calc(50% - 50px);}
    #results, #user-home{padding-top: 118px;}
}

@media (max-width: 1335px){
    .top-nav ul{font-size: 14px;}
}

@media (max-width: 1450px){
    .div-how-works{ width: 546px;}
    .div-how-works .arrow-left, .div-how-works .arrow-right{display: none;}
    .div-how-works .globe-israel{margin-right: 20px;}
    .div-how-works .globe-world{margin-left: 20px;}
}